#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: #00A087;
  color: #E8FDFF;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  font-size: 200%;
  line-height: 80px;

}