.new-tweet {
  background-color: #EEE;
  margin-right: 2em;
  margin-left: 2em;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 5px;
  display: none;
  h2 {
    margin-top: 0px;
    border-bottom: 0.5px solid gray;
    margin-bottom: 10px;
  }
  #new-tweet-form {
    textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 5px;
    }
    .counter {
      float: right;
      font-size: $fontsize;
      line-height: 30px;
      font-style: italic;
    }
    .red-counter {
      color: red;
    }
  }
  .errors {
    color: red;
  }
}


